<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alepuniv.library">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlepUnivLibrary">
        <activity android:name=".view.activity.PublishedCopiesActivity"></activity>
        <activity android:name=".view.activity.PublisherAuthorActivity" />
        <activity android:name=".view.activity.KindInfoActivity" />
        <activity android:name=".view.activity.KindAddActivity" />
        <activity android:name=".view.activity.KindActivity" />
        <activity android:name=".view.activity.PublishedInfoActivity" />
        <activity android:name=".view.activity.PublishedMajorActivity" />
        <activity android:name=".view.activity.PublishedSearchActivity" />
        <activity android:name=".view.activity.PublishedResultsActivity" />
        <activity android:name=".view.activity.PublishedActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.BooksActivity" />
        <activity android:name=".view.activity.StartActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.MajorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>